<html>
  <head>
    <title>Afficher un potin</title>
  </head>
  <body>
    <h1>Page potin !</h1>
    <p>Voici la page potin n°<%= id %></p>
    <p>Son auteur : <%= gossip.author %></p>
    <p>Le contenu du potin : <%= gossip.content %> </p>

    <p><a href="/">Cliquer ici pour revenir à la liste des potins</a></p>
  </body>
</html>