<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1>Mon super site de gossip, du dossier views !</h1>
	<p>Tu peux créer un nouveau potin en cliquant sur ce <a href="/gossips/new/">lien</a></p>
	<% gossips.each_with_index do |gossip,i| %>
	<p>
		<%= gossip.author %><br/>
		<%= gossip.content %><br>
		<a href="/gossip/<%=i%>">Lien vers ce potin</a>
	</p>
	<% end %>
</body>
</html>